<div id="about" class="text-center">
  <h1>About</h1>
</div>

<br />

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet mollis eros. Praesent pretium massa eget neque auctor, nec interdum mi malesuada. Nullam semper tincidunt turpis, vitae tincidunt tellus ornare placerat.</p>

<p>Integer varius dapibus ultricies. Integer id lacus iaculis, vulputate lectus at, consequat augue. Pellentesque nec tempus ipsum. Integer semper magna mauris, sed vulputate ligula rhoncus ac.</p>

<p>Integer pharetra lacinia dui.</p>