<div id="index">

  <% @workouts.each do |workout| %>
    <div>
      <h2><%= link_to workout.activity, workout_path(workout) %></h2>
      <p><%= workout.date.strftime("%A, %B %d") %></p>
      <p><span>feeling:</span> <%= workout.mood %></p>
      <p><span>length:</span> <%= workout.duration %></p>
    </div>

    <hr />
  <% end %>

</div>